<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bc.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permossion.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.bc.sdk.view.activity.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name="com.bc.sdk.service.TimeService"
            android:enabled="true" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <activity android:name="com.bc.sdk.view.activity.AgreementActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/Theme.BcTheme" />
        <activity
            android:name="com.bc.sdk.permission.PermissionActivity"
            android:theme="@style/Translucent" />
        <activity android:name=".view.activity.WXPayActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/Translucent" />
    </application>

</manifest>